<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccessToken" value="1952620338.84f9ddb.20e2c2f22cc9410396e3a2a7654c80e8"/>
    <add key="ClientId" value="84f9ddb7a2e44cbdbac9074f051b7bd8"/>
    <add key="ClientSecret" value="cbac230cf492469cb3ab792f7c08bcfc"/>
    <add key="RedirectUrl" value="http://gurlfeed.com"/>
    <add key="UserId" value="1952620338"/>
    <add key="Username" value="gurl_feed"/>
  </appSettings>
</configuration>